In [44]:
import pandas as pd

In [45]:
# Read the CSV file
data = pd.read_csv('myData.csv')

In [46]:
# To display the first few rows 
data.head()

,Status of existing checking account,Duration,Credit history,Purpose,Credit Amount,Savings account/bonds,Present employment since,Installment rate in percentage of dispsable income,Personal status and sex,Other debtors / guarantors,...,Property,Age,Other installment plans,Housing,Number of Existing credits at this bank,Job,Number of people being liable to provide maintenance for,Telephone,foreign worker,loan status
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

In [47]:
unique_values_status = data['Status of existing checking account'].unique()
print(f"Unique values for Status of existing checking account: {unique_values_status}")

Unique values for Status of existing checking account: ['A11' 'A12' 'A14' 'A13']

In [48]:
unique_values_credit_history = data['Credit history'].unique()
print(f"Unique values for Credit history: {unique_values_credit_history}")

Unique values for Credit history: ['A34' 'A32' 'A33' 'A30' 'A31']

In [49]:
unique_values_purpose = data['Purpose'].unique()
print(f"Unique values for Purpose: {unique_values_purpose}")

Unique values for Purpose: ['A43' 'A46' 'A42' 'A40' 'A41' 'A49' 'A44' 'A45' 'A410' 'A48']

In [50]:
unique_values_savings = data['Savings account/bonds'].unique()
print(f"Unique values for Savings account/bonds: {unique_values_savings}")

Unique values for Savings account/bonds: ['A65' 'A61' 'A63' 'A64' 'A62']

In [51]:
unique_values_employment = data['Present employment since'].unique()
print(f"Unique values for Present employment since: {unique_values_employment}")

Unique values for Present employment since: ['A75' 'A73' 'A74' 'A71' 'A72']

In [52]:
unique_values_personal_status = data['Personal status and sex'].unique()
print(f"Unique values for Personal status and sex: {unique_values_personal_status}")

Unique values for Personal status and sex: ['A93' 'A92' 'A91' 'A94']

In [53]:
unique_values_debtors = data['Other debtors / guarantors'].unique()
print(f"Unique values for Other debtors / guarantors: {unique_values_debtors}")

Unique values for Other debtors / guarantors: ['A101' 'A103' 'A102']

In [54]:
unique_values_property = data['Property'].unique()
print(f"Unique values for Property: {unique_values_property}")

Unique values for Property: ['A121' 'A122' 'A124' 'A123']

In [55]:
unique_values_housing = data['Housing'].unique()
print(f"Unique values for Housing: {unique_values_housing}")

Unique values for Housing: ['A152' 'A153' 'A151']

In [56]:
unique_values_job = data['Job'].unique()
print(f"Unique values for Job: {unique_values_job}")

Unique values for Job: ['A173' 'A172' 'A174' 'A171']

In [57]:
unique_values_telephone = data['Telephone'].unique()
print(f"Unique values for Telephone: {unique_values_telephone}")

Unique values for Telephone: ['A192' 'A191']

In [58]:
unique_values_foreign_worker = data['foreign worker'].unique()
print(f"Unique values for Foreign worker: {unique_values_foreign_worker}")

Unique values for Foreign worker: ['A201' 'A202']

In [59]:
# Basic statistics
statistics_duration = data['Duration'].describe()
print("Basic Statistics for Duration:")
print(statistics_duration)

Basic Statistics for Duration:
count    1000.000000
mean       20.903000
std        12.058814
min         4.000000
25%        12.000000
50%        18.000000
75%        24.000000
max        72.000000
Name: Duration, dtype: float64

In [60]:
statistics_credit_amount = data['Credit Amount'].describe()
print("Basic Statistics for Credit Amount:")
print(statistics_credit_amount)

Basic Statistics for Credit Amount:
count     1000.000000
mean      3271.258000
std       2822.736876
min        250.000000
25%       1365.500000
50%       2319.500000
75%       3972.250000
max      18424.000000
Name: Credit Amount, dtype: float64

In [61]:
statistics_installment_rate = data['Installment rate in percentage of dispsable income'].describe()
print("Basic Statistics for Installment rate:")
print(statistics_installment_rate)

Basic Statistics for Installment rate:
count    1000.000000
mean        2.973000
std         1.118715
min         1.000000
25%         2.000000
50%         3.000000
75%         4.000000
max         4.000000
Name: Installment rate in percentage of dispsable income, dtype: float64

In [62]:
statistics_age = data['Age'].describe()
print("Basic Statistics for Age:")
print(statistics_age)

Basic Statistics for Age:
count    1000.000000
mean       35.546000
std        11.375469
min        19.000000
25%        27.000000
50%        33.000000
75%        42.000000
max        75.000000
Name: Age, dtype: float64

In [63]:
statistics_num_credits = data['Number of Existing credits at this bank'].describe()
print("Basic Statistics for Number of existing credits at this bank:")
print(statistics_num_credits)

Basic Statistics for Number of existing credits at this bank:
count    1000.000000
mean        1.407000
std         0.577654
min         1.000000
25%         1.000000
50%         1.000000
75%         2.000000
max         4.000000
Name: Number of Existing credits at this bank, dtype: float64

In [64]:
statistics_num_people = data['Number of people being liable to provide maintenance for'].describe()
print("Basic Statistics for Number of people being liable to provide maintenance for:")
print(statistics_num_people)

Basic Statistics for Number of people being liable to provide maintenance for:
count    1000.000000
mean        1.155000
std         0.362086
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         2.000000
Name: Number of people being liable to provide maintenance for, dtype: float64

In [65]:
#Identifying te Target Variable
target_variable = data['loan status']

In [66]:
print(data.columns)

Index(['Status of existing checking account', 'Duration', 'Credit history',
       'Purpose', 'Credit Amount', 'Savings account/bonds',
       'Present employment since',
       'Installment rate in percentage of dispsable income',
       'Personal status and sex', 'Other debtors / guarantors',
       'Present residence since', 'Property', 'Age', 'Other installment plans',
       'Housing', 'Number of Existing credits at this bank', 'Job',
       'Number of people being liable to provide maintenance for', 'Telephone',
       'foreign worker', 'loan status'],
      dtype='object')

In [67]:
#Identifying Independent Features
independent_features = data[['Status of existing checking account', 'Duration', 'Credit history',
       'Purpose', 'Credit Amount', 'Savings account/bonds',
       'Present employment since',
       'Installment rate in percentage of dispsable income',
       'Personal status and sex', 'Other debtors / guarantors',
       'Present residence since', 'Property', 'Age', 'Other installment plans',
       'Housing', 'Number of Existing credits at this bank', 'Job',
       'Number of people being liable to provide maintenance for', 'Telephone',
       'foreign worker',]]